/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

#main-visual {
  .video-container {
    &__logo{
      & > img{
        transform: scale(1);
      }
    }
    &__copyright{
      left: 0;
      font-size: 1em;
    }
  }
}
