/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
#main-visual {
  .video-container {
    &__logo{
      & > img{
        transform: scale(.4);
      }
    }
    &__copyright{
      left: -8%;
    }
  }
}